<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1280, initial-scale=1.0">
    <meta name="viewport" content="height=413, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styles/layout.css">
</head>
<body>
          <!----Top navigation bar-->

<div class="header">
  <div class="logo"><img src="images/swansea-netball-logo.png"></div>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/fixtures">Results & Fixtures</a>
    <a href="/standings">Standings</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </div>
  </div>

<div class="contact">

  <div class="contact-head">
      <h2>Interested in joining?</h2>
      <h4>If your curious about learning more or would like to sign up, please get in touch below.</h3>
  </div>

  <div class="contact-options">
    <div class="block"><span class="emoji">📧</span><p>email</p><p>testEmailText@outlook.com</p></div>
    <div class="block"><span class="emoji">📞</span><p>phone</p><p>1800 964 418</p></div>
  </div>

</div>

<div class="footer">
  <div class='copyright'>Copyright © Conor Mciver 2024</div>
</div>

<script>var siteWidth = 1280;
  var scale = screen.width /siteWidth;
  
  document.querySelector('meta[name="viewport"]').setAttribute('content', 'width='+siteWidth+', initial-scale='+scale+'');
  var siteHeight = 1280;
  var scaleH = screen.height /siteHeight;
  
  document.querySelector('meta[name="viewport"]').setAttribute('content', 'width='+siteHeight+', initial-scale='+scaleH+'');</script>
</body>
</html>