<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="styles/layout.css">
    <style>html {
      background-color: #e4e9fd;
      background-image: -webkit-linear-gradient(65deg, #f14242 50%, #fde4e4 50%);
      min-width: 100vw;
      font-family: "helvetica neue";}

      .table_of_contents {
     flex-direction: column;
      background: white;
      border-radius: 5px;
      box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
      max-width: 90vw;
      min-width: 80vw;
      margin-top: 5vh;
      margin-bottom: 5vh;
      flex-wrap: wrap;}
      .blog_page {
      display: flex;
      flex-direction: column;
      justify-content:space-between;
   width: 100vw;
    }

      .admin_link {
        align-self: flex-end;
        justify-self:baseline
      }

      h1 {
        font-size: 2.5em;
      }

      #myUl div {
        border: #a683e3 solid 1px;
        text-align: center;
      }

    </style>
</head>
<body class="blog_page">
          <!----Top navigation bar-->

<div class="header">
  <div class="logo"><img src="images/west-glamorgan-netball.png"></div>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/fixtures">Results & Fixtures</a>
    <a href="/standings">Standings</a>
    <a href="/contact">Contact us</a>
    <a href="/blog">Blog</a>
  </div>
  </div>

  <!--content-->


<div class="blog_body">
  <a class="admin_link" href="/admin">Admin Login</a>
  <h1>News</h1>
  <div class="table_of_contents">
    <div id="myUl" style="color: black; padding: 5%; gap: 10px;">
    </div>
  </div>
</div>

  <!--footer-->
  <div class="footer">
    <p>© West Glamorgan Netball 2024. All rights reserved</p>
    <p>Designed by<a class="wos_link" href="https://webonestop.com/"> Webonestop</a></p>
  </div>
<script>




const titleForBlog = <%-JSON.stringify(blogTitle) %> ;
console.log(titleForBlog)




titleForBlog.forEach(function(post) {
  let div = document.createElement("div");
  let para = document.createElement("p");
  let head = document.createElement("h2");
  //let date = document.createElement("h4");
  let title = document.createTextNode(post[0]);
  let content = document.createTextNode(post[1]);
  //let dateCreated = document.createTextNode(post[2]);
  div.appendChild(head);
  div.appendChild(para);
  //div.appendChild(date);
  head.appendChild(title);
  para.appendChild(content);
  //date.appendChild(dateCreated)
  document.getElementById("myUl").appendChild(div);
});


</script>
</body>
</html>