<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swansea Netball</title>
  <link rel="stylesheet" href="styles/layout.css">
</head>
<body>
      <!----Top navigation bar-->

<div class="header">
  <div class="logo"><img src="images/netball.jpg"> </div>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/fixtures">Results & Fixtures</a>
    <a href="/standings">Standings</a>
    <a href="/about">About</a>
  </div>
</div>

  <!----content-->

  <div class="content">
    <div class="fixtures-title"><h3>Upcoming fixtures</h3></div>
    <div class="fixtures-container">
      <div class="match one"></div>
      <div class="match two"></div>
      <div class="match three"></div>
    </div>
  

    <div class="news">
    <div class="latest"><span>Join the Action</span></div>
     </div>
  </div>

  <div class="join-in">
    <div class="tidbits">
        <div class="icon">
          <div><img src='images/icons8-exercise-female-100.png'></div>
          <p>Stay Fit</p>
        </div>
        <div class="icon">
          <div><img src='images/icons8-trophy-100.png'></div>
          <p>Competitive league matches</p>
        </div>
        <div class="icon">
          <div> <img src='images/icons8-event-100.png'></div>
          <p>Organised Events</p>
        </div>
        <div class="icon">
          <div><img class="clock" src='images/icons8-clock-100 (1).png'></div>
          <p>7-9pm Mondays & Thursdays</p>
        </div>
    </div>
  </div>

<!--maybe a sign up now call to action-->
<div class="fourth">
  <div class="action">
    <div class="call">
      <h3>Sign up now</h3>
      <p>Contact us to learn more and join the action!</p>
    </div>
    <a href="views/about.html" class="button">Sign up</a>
  </div>



<!----footer-->

  <div class="footer">
    <div class='copyright'>Copyright © Conor Mciver 2024</div>
  </div>
</div>
</body>
</html>