<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standings</title>
    <link rel="stylesheet" href="../public/styles/layout.css">
</head>
<body>
       <!----Top navigation bar-->

<div class="header">
  <div class="logo"><img src="../public/images/netball.jpg"></div>
  <div class="topnav">
<a href="index.html">Home</a>
<a href="fixtures.html">Results & Fixtures</a>
<a href="standings.html">Standings</a>
<a href="news.html">News</a>
<a href="about.html">About</a>
  </div>
  </div>

  <!--content-->
  <div id="hero">
		<h1>Current league standings</h1>
	</div>	

	<div id="display">

		<div id="loader"> 
			<h4> Loading</h4> 
		</div>

		<div id="table">
		</div>
		<div id="errorMessage"> 
			<h2> Failed to get data. Please refresh </h2>
		</div>

    <!--footer-->

    <div class="footer">
      <div class='copyright'>Copyright © Conor Mciver 2024</div>
    </div>

    <!--Javascript standings-->

    <script>

//Making it easier to set funtions for this page

      let tableElm = document.getElementById("table")
	let loaderElm = document.getElementById("loader")
	let errorMessageElm = document.getElementById("errorMessage")
	
function setErrorDisplay(){
	loaderElm.style.display = "none"
	allNamesElm.style.display = "none"
	errorMessageElm.style.display = "block"
	}

  //API fetch insode google sheets

      fetch("https://api.apispreadsheets.com/data/Bsj6stk5kC5II0vX/", {
	method: "POST",
	body: JSON.stringify({"data": {"D":"","L":"","P":"","W":"","GA":"","GD":"","GF":"","Pts":"","Team":"","Position":"1"}}),
}).then(res =>{
	if (res.status === 201){
		// SUCCESS
	}
	else{
		// ERROR
	}
})
    </script>

	</div>
</body>
</html>