body {
  margin: 0;
}

div {
  display: flex;

}

.header {
  background-color: #373737;
}

.logo {
padding: 20px;
}

.topnav {
  display: flex;
  flex: auto;
color: white;
font-family: 'Montserrat', Arial, sans-serif;
justify-content: space-evenly;
align-items: center;
font-size: 20px;
padding: 10px;
}

.topnav a {
text-decoration: none;
color: white;
}